.main__productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .main__productos {
    padding: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .main__productos {
    padding: 4rem;
  }
}
