.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width:768px) {
    .main {
        padding: 2rem;
        gap: 4rem;
    }
}

@media screen and (min-width:1440px) {
    .main {
        padding: 4rem 9.4rem;
    }
}